.panel {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-top: 10px;
	background: gainsboro;
	border-radius: 10px;
	border: 1px solid lightslategrey;
	padding: 10px;
	box-shadow: 2px 2px 2px #888888;
}