#leftPanel {
	/*position: absolute;*/
	float: left;
	width: 700px;
	margin-left: 33px;
}

#rightPanel {
	/*margin-left: 766px;
	position: absolute;*/
	float: right;
	margin-right: 34px;
	width: 400px;
}

#description {
	text-align: left;
}

#picture {
	float: left;
	width: 200px;
	margin-right: 15px;
}

/*centers the TripAdvisor widget*/
#TA_cdsdmo27, #TA_cdsdmo422, #TA_cdsdmo684 {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

