#leftPanel {
	width: 700px;
	float: left;
	margin-left: 20px;
}

#rightPanel {
	margin-right: 20px;
	width: 400px;
	float: right;
}

#description {
}

#picture {
	float: left;
	width: 200px;
}

#text {
	margin-left: 200px;
	width: 460px;
	padding-left: 15px;
	text-align: left;
}

.panel {
	margin-top: 10px;
	background: gainsboro;
	border-radius: 10px;
	border: 1px solid lightslategrey;
	padding: 10px;
	text-align: center;
	box-shadow: 2px 2px 2px #888888;
}

