/* Div that contains the order form */
#orders {
	border: 1px solid black; /* bare så jeg ser hvor stor den blir */
	width: 49%;
	text-align: left;
	position: absolute;
}

/* Div that contains calculations based on choices made by the customer */
#calculations {
	border: 1px solid black; /* bare så jeg ser hvor stor den blir */
	width: 49%;
	text-align: left;
	height: 400px;
	position: absolute;
	margin-left: 600px;
}

#radioChoices {
	border: 1px solid red; /* bare så jeg ser hvor stor den blir */
	width: 580px;
	height: 65px;
	position: relative;
}

#radioMember {
	border: 1px solid blue; /* bare så jeg ser hvor stor den blir */
	width: 288px;
	height: 60px;
	position: absolute;
}

#radioAcco {
	border: 1px solid yellow; /* bare så jeg ser hvor stor den blir */
	width: 288px;
	height: 60px;
	position: absolute;
	margin-left: 290px;
}

#options {
	border: 1px solid red; /* bare så jeg ser hvor stor den blir */
	width: 580px;
	height: 105px;
	position: relative;
}

#extras {
	border: 1px solid blue; /* bare så jeg ser hvor stor den blir */
	width: 288px;
	height: 100px;
	position: absolute;
}

#stuff {
	border: 1px solid yellow; /* bare så jeg ser hvor stor den blir */
	width: 288px;
	position: absolute;
	margin-left: 290px;
	height: 100px;
}

#chooseRoom, #hotelFood, #aptHouseKeeping {
	display: none;
	width: 99%;
	position: relative;
}

#howMany {
	width: 99%;
	position: relative;
}

fieldset {
	float: none;
	border: 1px solid black;
	margin: 2px 2px 2px 2px;
}

fieldset.nested {
	text-align: center;
	margin: 20px auto 20px;
	padding-top: 8px;
	border: 0;
}

p {
	margin-top: 7px;
	margin-bottom: 7px;
}

p.centered {
	text-align: center;
}

.needDistanceLeft {
	margin-left: 20px;
}

.labels {
	width: 8em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;}

.labels2 {
	width: 14em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;}

.labels3 {
	width: 10.5em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;}

.input {
	height: 20px;
	width: 150px;
}

input[type="radio"] {
	margin-left: 8px;
}

.choices {
	height: 20px;
}

.dates {
	width: 25px;
	height: 15px;
	text-align: center;
}

.infotext {
	margin-left: 10px;
}

.button {
	height: 2em;
	width: 8em;
	background: #FFFFFF;
	border: 1px solid black;
}

.button:hover {
	background: orange;
}

.button:active {
	background: #BBBBBB;
}