/*
All DIVs in this document are contained within the container DIV in layout.css
*/

/* Div that contains the main part of the order-form */
#orders {
	width: 47%;
	margin-left: 0.5%;
	text-align: left;
	float: left;
	height: 300px;
}

/* Div that contains calculations based on choices made by the customer */
#calculations {
	border: 1px solid black; /* bare så jeg ser hvor stor den blir */
	width: 47%;
	text-align: left;
	height: 300px;
	float: right;
	margin-right: 0.5%;
}

#radioChoices {
	margin-top:		10px;
	width: 580px;
	height: 52px;
	position: relative;
}

#checkMember {
	width: 288px;
	height: 50px;
	position: absolute;
}

#radioAcco {
	width: 288px;
	height: 50px;
	position: absolute;
	margin-left: 290px;
}

#options {
	margin-top: 10px;
	width:			580px;
	height:			105px;
	position:		relative;
}

#extras {
	width:			288px;
	height:			100px;
	position:		absolute;
}

#stuff {
	width:			288px;
	position:		absolute;
	margin-left:	290px;
	height: 100px;
}

#aptHouseKeeping, #aptSwimming {
	display:		none;
	width:			99%;
	position:		relative;
}

#chooseRoom, #hotelFood, #hotelAC {
	width:			99%;
	position:		relative;
}

#howMany {
	width: 99%;
	position: relative;
}

#totalPrice {
	position: relative;
	background-color: orange;
	margin: 10px auto 10px;
	text-align: center;
}

#buttons {
	position: relative;
	margin: 10px auto 10px;
	text-align: center;
}

#finalDest {
	margin-left: 10px;
}

fieldset {
	float: none;
	border: 1px solid black;
	margin: 2px 2px 2px 2px;
}

p {
	margin-top: 7px;
	margin-bottom: 7px;
}

p.centered {
	text-align: center;
}

.needDistanceLeft {
	margin-left: 20px;
}

.labels {
	width: 8em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;}

.labels2 {
	width: 15em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;}

.labels3 {
	width: 10.5em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;}

.input {
	height: 20px;
	width: 150px;
}

input[type="radio"] {
	margin-left: 8px;
}

.choices {
	height: 20px;
}

.dates {
	width: 25px;
	height: 15px;
	text-align: center;
}

.infotext {
	margin-left: 10px;
}

.button {
	margin: 0 10px 0 10px;
	height: 2em;
	width: 8em;
	background: orange;
	border: 1px solid black;
}

.button:hover {
	background: orangered;
}

.button:active {
	background: red;
}

h1 {
	text-align: center;;
}